{% extends 'base.html.twig' %}

{% block content %}
    
    <div class='friends-list-conteiner'>
        <h3>Ваши друзья</h3>
        <div>
            {% if error.anyFriends %}
                <div>{{ error.anyFriends }}</div>
            {% endif %}
            <table>
                {% for friend in friends %}
                    <tr id={{ friend.id }}>
                        <td>{{ friend.username }}</td>
                        <td id="{{ friend.id }}-last-message">{{ lastMessages[friend.id] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    <div class='chat-area-conteiner' id='chat-area-conteiner' style='display: none'>
        <h3>Область чата</h3>
        <div class='chat-area' data-user="nobody" data-admin='{{ app.user.id }}'>
            {% if error.showMessages %}
                <div>{{ error.showMessages }}</div>
            {% endif %}
            <table data-last-load-message-id="">
                <tr id="user-message-" style='display: none'>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="admin-message-" style='display: none'>
                    <td></td>
                    <td></td>
               </tr>
            </table>
        </div>
    </div>

    <hr>
    <div class='form-messaging-conteiner'>
        {% if error.sendMessage %}
            <div>{{ error.sendMessage }}</div>
        {% endif %}
        {{ form_start(form, {'method': 'post'}) }}
            <div>{{ form_widget(form.content) }}</div>
            <div>{{ form_widget(form.submit) }}</div>

        {{ form_end(form) }}
    </div>

{% endblock content%}