{% extends 'base.html.twig' %}

{% block content %}
    
    Hello World!
    <div class='friends-list-conteiner'>
        <h3>Ваши друзья</h3>
        <div>
            {% if error.anyUsers %}
                <div>{{ error.anyUsers }}</div>
            {% endif %}
            <table>
                {% for user in users %}
                    <tr id="{{ user.id }}">
                        <td>{{ user.username }}</td>
                        <td>Текст сообщения</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    <div class='chat-area-conteiner'>
        <h3>Область чата</h3>
        <div class='chat-area' data-user="nobody" id="area">
            {% if error.showMessages %}
                <div>{{ error.showMessages }}</div>
            {% endif %}
            <table>
                <tr>
                  <td>Сообщение юзера</td>
                  <td>Сообщение админа</td>
                </tr>
            </table>
        </div>
    </div>

    <hr>
    <div class='form-messaging-conteiner'>
        {% if error.sendMessage %}
            <div>{{ error.sendMessage }}</div>
        {% endif %}
        {{ form_start(form, {'method': 'post'}) }}
            <div>{{ form_widget(form.content) }}</div>
            <div>{{ form_widget(form.submit) }}</div>

        {{ form_end(form) }}
    </div>

{% endblock content%}